$images-url: 'assets/images/';
$fonts-url: 'assets/fonts/';
$hiragino-font: 'hiragino-sans-gb-w3';

@font-face {
  font-family: "Hiragino";
  src: url($fonts-url + $hiragino-font + '.eot');
  src: url($fonts-url + $hiragino-font + '.eot?#iefix') format('embedded-opentype'),
       url($fonts-url + $hiragino-font + '.woff2') format('woff2'),
       url($fonts-url + $hiragino-font + '.woff') format('woff'),
       url($fonts-url + $hiragino-font + '.ttf') format('ttf'),
       url($fonts-url + $hiragino-font + '.svg#svgFontName') format('svg'),
}