footer {
  margin-bottom: 5em;
  margin-top: 10em;

  hr {
    padding-bottom: 15px;
  }

  .custom-container {
    text-align: center;
  }

  p {
    font-size: 18px;
  }

  p:last-child {
    font-size: 16px;
  }



  button.btn-primary {
    margin-bottom: 2.5em;
  }
}