//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
// $font-opensans: 'Open Sans';

// /// @type List
// $text-font-stack: $font-opensans, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// /// Code (monospace) font family
// /// @type List
// $code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #020202 !default;

/// Main brand color - violet
/// @type Color
$brand-color: #2e3192 !default;
$light-violet: #565ad5;
$lighter-violet: #5458d5;
/// Light grey
/// @type Color
$light-grey: #aeaead !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #212121 !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;


// CUSTOM COLORS
$shadegray: #cecece;
$darkgray: #333;
$dirt: #a98e37;
$wordpress: #0073AA;
$pstml: #76727d;